.containerCartline {
  position: relative;
}

.containerCartlineProductName {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}

.containerCartlineProductPrice {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}
