a {
    cursor: pointer;
  }
  
  .loginTitle {
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 1em;
  }
  
  .addProductionUnitForm {
    display: flex;
    height: 75vh;
    width: 50vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-color: #03add4;
    border-radius: 2em;
  }
  
  .addProductionUnitForm > div {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.5em;
    color: white;
    position: relative;
  }
  
  .nextButton,
  .addProductionUnitForm > div > input {
    width: 60%;
    border-radius: 1em;
    padding: 0.5em;
    height: 3em;
    border: none;
  }
  
  .nextButton {
    background-color: white;
    border: 1px solid #a88734 #9c7e31 #846a29;
    color: #111;
  }
  
  .hr {
    width: 60%;
    border: 1px solid white;
  }
  .nextButton[disabled] {
    background-color: lightgray;
    color: darkgray;
  }
  