.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh;
    grid-gap: 10px;
  }
  
  .productionUnit {
    background-color: aquamarine;
    border-radius: 12px;
    min-height: 20vh;
    position: relative;
    overflow: auto;
  }
  
  .delete-productionUnit {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 3vh !important;
  }

.add-productionUnit{
    background-color: aquamarine;
    border-radius: 12px;
    min-height: 20vh;
    position: relative;
}
  
.add-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.iconn{
    font-size: 20vh !important;
}
.productionUnitContent{
    max-width: 90%;
    margin: 0 auto;
}
.productionUnitContent p {
    margin: 0;
    white-space: pre-wrap;
}
  .delete-productionUnit:hover {
    cursor: pointer;
}
.add-productionUnit:hover {
  cursor: pointer;
}
