.notificationsTitle {
  display: flex;
  font-size: 29px;
  font-weight: bold;
  height: 10vh;
  align-items: center;
  width: 90%;
  margin-left: 5%;
}

.notificationsTitleHR {
  margin: 0;
  width: 95%;
  margin-left: 2.5%;
}

.containerNotificationsExamples {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 90%;
  margin-left: 5%;
  gap: 1vh;
  overflow: auto;
}
