.producer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 75vh;
  background-color: red;
  margin: auto;
}

.productionUnitList {
  display: flex;
  border: 1px solid black;
  padding: 1em;
  gap: 1em;
  overflow-x: auto;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.productionUnit {
  min-width: 20vw;
}
