.shoppingCartTitle {
  margin-left: 20px;
  font-size: 40px;
  font-weight: bold;
  line-height: 65px;
}

.shoppingCartContainer {
  display: grid;
  margin: 20px;
  grid: 1fr / 1fr 1fr;
  gap: 20px;
}

.shoppingCartInfoContainer {
  border: 1px solid red;
}

.shoppingCartCartLinesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
