.shoppingCartTitle {
  margin-left: 20px;
  font-size: 40px;
  font-weight: bold;
  line-height: 65px;
}

.shoppingCartContainer {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
  grid: 1fr / 1fr 1fr;
  gap: 20px;
}

.shoppingCartInfoContainer {
  border: 1px solid red;
}
