.containerAccountOverview {
  display: grid;
  grid: 1fr / 1fr 2fr;
  position: relative;
  gap: 20px;
}

.containerAccountOverviewInfo {
  box-shadow: 0 0.5rem 1rem gray;
  margin: 20px;
  border-radius: 0.5em;
}

.modalAO {
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 3;
}
