.containerAccountOverview {
  display: grid;
  grid: 1fr 1fr / 1fr;
  position: relative;
  gap: 20px;
}

.modalAO {
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 3;
}
