.containerAddProductTitle {
  display: flex;
  font-size: 29px;
  font-weight: bold;
  align-items: center;
  width: 90%;
  margin: 10px 0 10px 10px;
}

.containerAddProductTitleHR {
  margin: 0 10px;
}

.containerAddProductForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.containerAddProductForm > div {
  width: 80%;
}

.containerAddProductForm > div > input {
  width: 100%;
  border-radius: 0.5em;
  padding: 0.5em;
  height: 3em;
  border: 1px solid #0d6efd;
}

.addProductsCategoires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3em;
  padding: 0.5em;
}

.addProductsAttributes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
  flex-wrap: wrap;
  gap: 10px;
}

.addProductsAttributes > div {
  display: flex;
  width: 48%;
}

.addProductsAttributes input {
  border-bottom: 1px solid #0d6efd;
  transition: 0.3s all ease-in-out;
  flex-grow: 1;
  padding: 0 0.2em;
}

.addProductsAttributes input:focus {
  outline: none;
  border: 1px solid #0d6efd;
}

.buttonsAddProduct {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  gap: 10px;
}

.submitAddProduct {
  background-color: var(--bs-blue);
  color: white;
  border: 1px solid var(--bs-blue);
  border-radius: 5px;
  padding: 0.5em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.submitAddProduct:disabled {
  background-color: grey;
  border: 1px solid grey;
  color: white;
  cursor: not-allowed;
}

.submitAddProduct:hover {
  background-color: var(--bs-blue-hover);
  border: 1px solid var(--bs-blue);
  color: var(--bs-blue);
}

.submitAddProduct:disabled:hover {
  background-color: grey;
  border: 1px solid grey;
  color: white;
  cursor: not-allowed;
}

.cancelAddProduct {
  background-color: var(--bs-red);
  color: white;
  border: 1px solid var(--bs-red);
  border-radius: 5px;
  padding: 0.5em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.cancelAddProduct:hover {
  background-color: white;
  border: 1px solid var(--bs-red);
  color: var(--bs-red);
}
