.vehicleCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(300px, 80vw, 80%);
  background-color: #dfdfdf;
  padding: 1em 2em;
  border-radius: 5px;
  color: black;
}
