.orderExample {
  border: 1px solid #d4d4d4;
  max-height: 15vh;
  padding: 0.5em;
  position: relative;
}

.orderExample:hover {
  border: 1px solid var(--bs-blue);
}

.orderExampleCartId {
  font-size: 1.2em;
  font-weight: bold;
}
