a {
  cursor: pointer;
}

.loginTitle {
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding: 1em;
}

.loginForm {
  display: flex;
  height: 75vh;
  width: 50vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  background-color: #03add4;
  border-radius: 2em;
}

.loginForm > div {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.5em;
  color: white;
  position: relative;
}

.loginButton,
.loginForm > div > input {
  width: 60%;
  border-radius: 1em;
  padding: 0.5em;
  height: 3em;
  border: none;
}

.togglePassword {
  margin-top: 1em;
  margin-left: -30px;
  cursor: pointer;
  z-index: 2;
  color: black;
  position: absolute;
}

.forgotPassword {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 0.5em;
  margin-left: -40%;
}

.loginButton {
  background-color: white;
  border: 1px solid #a88734 #9c7e31 #846a29;
  color: #111;
}

.hr {
  width: 60%;
  border: 1px solid white;
}
