.containerProducerManagementArea {
  border: 0;
  margin: 0;
  padding: 0;
  /* height: 95vh; */
  display: grid;
  grid: 1fr 1fr 1fr / 600px 3fr;
  position: relative;
}

.containerOrdersProducerManagementArea {
  grid-area: 1 / 1 / span 3 / span 1;
  border-right: 1px solid var(--bs-blue);
  position: relative;
}

.containerProductsProducerManagementArea {
  grid-area: 1 / 2 / span 1 / span 1;
  border-bottom: 1px solid var(--bs-blue);
  position: relative;
}

.containerProductionUnitsProducerManagementArea {
  grid-area: 2 / 2 / span 1 / span 1;
  border-bottom: 1px solid var(--bs-blue);
  position: relative;
}

.containerVehiclesProducerManagementArea {
  grid-area: 3 / 2 / span 1 / span 1;
  position: relative;
}

.modalProducerManagementArea {
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 3;
}

.AddPUs,
.AddVehicles {
  animation: fadeIn 750ms ease-in-out;
  background-color: white;
  border-radius: 0.5em;
  border: 1px solid var(--bs-blue);
  position: fixed;
  z-index: 4;
  inset: 15% 20% auto 20%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
