a {
  cursor: pointer;
}

.containerSignup {
  width: clamp(350px, 30vw, 1000px);
  margin: auto;
}

.SignUpTitle {
  animation: fadeIn 750ms ease-in-out;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  color: black;
  padding: 1em;
}

.SignUpForm {
  animation: fadeIn 750ms ease-in-out;
  display: flex;
  height: 60vh;
  width: clamp(330px, 100%, 1000px);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  /* background-color: #0d6efd; */
  border-radius: 1em;
  border: #0d6efd 1px solid;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.SignUpForm > div {
  width: clamp(300px, 90%, 1000px);
  height: 100%;
  color: black;
  position: relative;
}

.SignUpButton,
.SignUpForm > div > input {
  width: 100%;
  border-radius: 0.5em;
  padding: 0.5em;
  height: 3em;
  border: 1px solid #0d6efd;
}

.SignUpButton {
  background-color: #0d6efd;
  color: white;
}

.hr {
  width: 80%;
  border: 1px solid #0d6efd;
}
.togglePassword {
  margin-top: 1em;
  margin-left: -30px;
  cursor: pointer;
  z-index: 2;
  color: black;
  position: absolute;
}
