a {
  cursor: pointer;
}

.container {
  width: clamp(350px, 30vw, 1000px);
}

.loginTitle {
  animation: fadeIn 750ms ease-in-out;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  color: black;
  padding: 1em;
}

.loginForm {
  animation: fadeIn 750ms ease-in-out;
  display: flex;
  height: 60vh;
  width: clamp(330px, 100%, 1000px);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  /* background-color: #03add4; */
  border-radius: 1em;
  border: #03add4 1px solid;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loginForm > div {
  width: clamp(300px, 90%, 1000px);
  height: 100%;
  padding: 0.5em 0;
  color: black;
  position: relative;
}

.loginForm > div:has(span) {
  text-align: left;
}

.loginButton,
.loginForm > div > input {
  width: 100%;
  border-radius: 0.5em;
  padding: 0.5em;
  height: 3em;
  border: 1px solid #03add4;
}

.togglePassword {
  margin-top: 1em;
  margin-left: -30px;
  cursor: pointer;
  z-index: 2;
  color: black;
  position: absolute;
}

.forgotPassword {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.loginButton {
  background-color: #03add4;
  border: 1px solid #a88734 #9c7e31 #846a29;
  color: white;
}

.hr {
  width: 80%;
  border: 1px solid #03add4;
}
