a {
  cursor: pointer;
}

.containerSignin {
  width: clamp(350px, 30vw, 1000px);
  margin: auto;
}

.signinTitle {
  animation: fadeIn 750ms ease-in-out;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  color: black;
  padding: 1em;
}

.signinForm {
  animation: fadeIn 750ms ease-in-out;
  display: flex;
  height: 60vh;
  width: clamp(330px, 100%, 1000px);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  /* background-color: #0d6efd; */
  border-radius: 1em;
  border: #0d6efd 1px solid;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.signinForm > div {
  width: clamp(300px, 90%, 1000px);
  height: 100%;
  padding: 0.5em 0;
  color: black;
  position: relative;
}

.signinForm > div:has(span) {
  text-align: left;
}

.signinForm a {
  color: blue !important;
  cursor: pointer;
  text-decoration: underline !important;
}

.signinButton,
.signinForm > div > input {
  width: 100%;
  border-radius: 0.5em;
  padding: 0.5em;
  height: 3em;
  border: 1px solid #0d6efd;
}

.togglePassword {
  margin-top: 1em;
  margin-left: -30px;
  cursor: pointer;
  z-index: 2;
  color: black;
  position: absolute;
}

.signinButton {
  background-color: #0d6efd;
  color: white;
}

.signinGoogleButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  align-items: center;
}

.signinGoogleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 1.2em;
  width: 45%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #db4437;
  background-color: #db4437;
  color: white;
  cursor: pointer;
}

.hr {
  width: 80%;
  border: 1px solid #0d6efd;
}

.containerSigninErrorMessage {
  animation: fadeIn 750ms ease-in-out;
  position: relative;
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  text-align: center;
  border-radius: 0.5rem;
}
