.vehiclesTitleProducerManagementArea {
  display: flex;
  font-size: 29px;
  font-weight: bold;
  height: 10vh;
  align-items: center;
  margin-left: 10px;
}

.vehiclesTitleHRProducerManagementArea {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.containerVehiclesChartsProducerManagementArea {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  gap: 15px;
  overflow: auto;
}

.viewAllVehiclesButtonProducerManagementArea {
  background-color: var(--bs-blue);
  color: white;
  border: 1px solid var(--bs-blue);
  border-radius: 5px;
  padding: 0.5em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.viewAllVehiclesButtonProducerManagementArea:hover {
  background-color: white;
  color: var(--bs-blue);
}
