.nav {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  justify-content: space-evenly;
}

.logo {
  height: 6vh;
  width: auto;
  display: flex;
}

.btnShoppingBasket{
  border: 0px;
  width: 5vw;
  margin-left: 200 px;
  border-radius: 1em;
}

.searchBar{
  height: 6vh;
  width: 50%;
}
.searchBar>input{
  width: 90%;
  border-radius: 1em;
}

.nav>.btnSignUp,.btnSignIn{
  border: 0px;
  display: flex;
  width: 5vw;
  background-color: #0d6efd;
  border-radius: 1em;
  text-align: center;
  text-decoration: white;

}
