.nav {
  display: flex;
  height: 10vh;
  width: 100%;
  padding-top: 20px;
  justify-content: space-evenly;
  padding-bottom: 20px;
  border-bottom: 1px solid #0d6efd;
}

.logo {
  height: 6vh;
  width: auto;
  display: flex;
}

.btnShoppingBasket {
  border: 0px;
  width: 5vw;
  margin-left: 200 px;
  border-radius: 1em;
}

.searchBar {
  height: 6vh;
  width: 50%;
}
.searchBar > input {
  width: 90%;
  border-radius: 1em;
}

.nav > .btnSignUp,
.btnSignIn {
  border: 0px;
  display: flex;
  width: 5vw;
  background-color: #0d6efd;
  border-radius: 1em;
  text-align: center;
  text-decoration: white;
}
