.nav{
    background-color: black;
    display: flex;
    flex-direction: row;
}

.logo {
  width: auto;
  height: 50px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.searchContainer {
    border-radius: 10px;
    width: 30vw;
    border: 1px solid #73AD21;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    padding: 2 2 2 2;
}
