.containerNavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    height: 15vh;
    width: auto;
    margin-bottom: 5vh;
}
.logoButton{
    border:0px ;
    background-color:darkgray;
    height: 100%;
    overflow: hidden;
}


