.containerNavBar {
  animation: 750ms ease-in-out 0s 1 slideInFromTop;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 15vh;
  width: auto;
  margin-bottom: 5vh;
  border-bottom: 1px solid #03add4;
}
.logoButton {
  border: 0px;
  background-color: white;
  height: 100%;
  overflow: hidden;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
